{% extends 'base.html' %}

{% block title %} Category {% endblock %}

{% block content %}


<style>
    .progress-bar-container {
      width: 100%;
      height: 20px;
      background-color: #f2f2f2;
      border-radius: 5px;
      overflow: hidden;
    }
    .progress-bar {
      height: 100%;
      background-color: #4CAF50;
    }

	.profile-pic{
		max-width: 300px;
		max-height:300px;
		margin: 0 auto;
		border-radius: 50%;
	}

</style>

<br>
<div class="box ">
    <div class="columns is-horizontal is-vcentered">

        <div class="column">
            <div class="card is-vcentered">
                <div class="card-content">

                    <div style="text-align: center;">
                        <div class="has-text-centered">
                            <h3 class="title">{{category.name}} </h3>
                        </div><br><br>
                        <div class="content">
                            <table>
                                <thead>
                                  <tr>
                                    <th>Framework</th>
                                    <th>Projects</th>
                                    <th>Courses</th>
                                    <th>Score</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for framework_project in framework_projects_category %}
                                    <tr>
                                        <td>{{ framework_project.name }}</td>
                                        <td>{{ framework_project.project_count }}</td>
                                        <td>{{framework_project.course_count}} </td>
                                        <td>
                                            <progress class="progress is-primary" value="{{ framework_project.score }}" max="100">{{ framework_project.score }}%</progress>{{ framework_project.score }}%
        
                                          </td>                                </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                          
                        
                </div>
            </div>
        </div>

    </div>
    

</div>







{% endblock %}